{% extends "home/header.html"%}

{% block title %} Altijd Prijs - Over {% endblock %}
{% block metadescription %}
Deze pagina van Altijd Prijs legt uit hoe de site de goedkoopste prijzen vindt van gezochte producten die te vinden zijn op sites zoals Bol, Coolblue, Aliexpress, Amazon en Ebay.
En meer informatie over bewaring van gegevens en hoe je ons financiëel kan steunen.{% endblock %}

{% block content %}

<div class = 'about'>

<h2 class = 'abouth' style = 'padding-top:40px'> Over Altijd Prijs</h2>

<p class = 'aboutp'> Vind je het ook irriterend dat online sites dezelfde producten anders prijzen
en het een hele hoop tijd kost om steeds de goedkoopste prijs te vinden? <br> <br>
Altijd Prijs vergelijkt nu de prijzen voor jou! Geef een zoekopdracht in en Altijd Prijs schuimt voor jou de websites van Bol, Amazon, Coolblue, Aliexpress en Ebay af en toont je de goedkoopste prijzen.
</p>

<h2 class = 'abouth'>Worden mijn gegevens bewaard? </h2>

<p class = 'aboutp'>Gegevens van mensen die de website bezoeken, worden op geen enkele manier verzameld of opgeslagen. </p>

<h2 class = 'abouth'>Hoe kan ik mijn steentje bijdragen? </h2>

<p class = 'aboutp'> Altijd Prijs werd opgericht zonder financiële motieven.
Helaas kost het geld om de website online te houden. Daarom kan je ons steunen via een Paypal storting. <br>
<a href = 'http://www.paypal.me/altijdprijs'> Klik hier om een storting te doen <a> </p>

<p class = 'aboutp'>Vragen, opmerkingen of suggesties? Aarzel dan niet om ons te contacteren via altijdprijs.contact@gmail.com</p>


</div>
<br><br><br><br><br>
{% endblock %}
